// GENERAL PROJECT STYLES

.page
	min-height: 100vh
	min-height: 100dvh
	display: flex
	flex-direction: column
	position: relative

.page-background
	background-repeat: no-repeat
	background-size: cover
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: -1

	&.sign-background
		background-position: 30% -620px
		background-size: 1700px
		transform: translateX(30%)

.page-header
	margin-top: 2.5rem
	margin-bottom: 1.875rem

	h1
		margin-bottom: .5rem

.main
	flex: 1
	margin-top: var(--header-height)

/** (Start) Buttons **/

.btn
	--bs-btn-font-size: var(--bs-body-font-size)
	--bs-btn-font-weight: 600

	&.btn-icon
		width: 2.375rem
		height: 2.375rem

	&.btn-show-password
		--bs-btn-color: var(--bs-primary)
		width: fit-content
		border-top-left-radius: 0
		border-bottom-left-radius: 0

		&:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush)
			border-left: 1px solid var(--bs-primary)

.btn-link
	--bs-btn-color: var(--bs-link-color)

/** (End) Buttons **/

/** (Start) Form Inputs **/

.form

	&-title,
	&-content
		border-bottom: 1px solid var(--bs-gray-300)

	&-title
		font-size: 1.125rem
		line-height: 1.2
		color: var(--bs-gray-800)
		margin: 0
		padding-bottom: 1.5rem

	&-content
		padding-top: 1.875rem
		padding-bottom: 1.875rem

		&-title
			font-size: 1rem
			font-weight: 600
			line-height: 1.2
			color: var(--bs-gray-700)
			flex-shrink: 0
			margin: 0
			padding-top: .75rem

			&>span
				color: var(--bs-danger-active)

		&-item
			width: 55vw
			max-width: 830px
			margin-left: 2.5rem

		&-inner
			display: flex
			align-items: stretch

	&-buttons
		display: flex
		align-items: stretch
		justify-content: space-between
		padding-top: 1.875rem

		&>*

			&:not(:last-child)
				margin-right: 1.25rem

	&-control-hint
		font-size: .625rem
		font-weight: 600
		line-height: 1.2
		color: var(--bs-gray-400)
		padding-top: .5rem

	&-control,
	&-select
		font-size: var(--bs-body-font-size)
		font-weight: 600
		color: var(--bs-gray-600)
		padding-top: .85rem
		padding-bottom: .85rem

	&-control
		border-width: 2px

		&:focus
			border-color: var(--bs-primary)

		&.form-control-solid
			border-width: 0

			&::placeholder
				color: var(--bs-gray-400)

	&-check

		&-custom

			.form-check-label
				margin-left: .625rem

		&-label
			font-weight: 600
			color: var(--bs-gray-700)
			cursor: pointer

		&-input
			cursor: pointer

			&:checked[type='checkbox']
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2 -2 16 16' width='13' height='11' fill='none'%3e%3cpath d='M11.0426 1.02893C11.3258 0.695792 11.8254 0.655283 12.1585 0.938451C12.4917 1.22162 12.5322 1.72124 12.249 2.05437L5.51985 9.97104C5.23224 10.3094 4.72261 10.3451 4.3907 10.05L0.828197 6.88335C0.50141 6.59288 0.471975 6.09249 0.762452 5.7657C1.05293 5.43891 1.55332 5.40948 1.88011 5.69995L4.83765 8.32889L11.0426 1.02893Z' fill='%23ffffff'/%3e%3c/svg%3e")

/** (End) Form Inputs **/

/** (Start) Select 2 **/

.select2-hidden-accessible
	--bs-form-select-bg-img: none

.select2-container--bootstrap5 .select2-selection--single.form-select-solid .select2-selection__placeholder
	color: var(--bs-gray-400)

/** (End) Select 2 **/

/** (Start) Navbar **/

.navbar
	--bs-navbar-padding-y: 1rem
	--bs-navbar-brand-padding-y: 0
	--bs-navbar-brand-padding-x: 0
	--bs-navbar-brand-margin-end: 3.125rem
	--bs-navbar-toggler-box: 2rem
	--bs-navbar-toggler-border-width: 0
	--bs-navbar-toggler-color: #fff
	--bs-navbar-toggler-radius: 1rem
	--bs-navbar-toggler-padding-y: 0.075rem
	--bs-navbar-toggler-padding-x: 0.075rem
	--bs-nav-item-gap-x: .675rem
	--bs-nav-item-gap-y: 0

	&-dark,
	&[data-bs-theme=dark]
		--bs-navbar-nav-link-background-hover: var(--bs-dark-active)
		--bs-navbar-nav-link-radius: .375rem
		--bs-navbar-nav-link-padding-x: .875rem
		--bs-navbar-nav-link-padding-y: .75rem
		--bs-navbar-color: var(--bs-gray-500)
		min-height: var(--header-height)

		.nav-item

			&:not(:last-child)
				margin: 0 var(--bs-nav-item-gap-x) var(--bs-nav-item-gap-y) 0

		.nav-link
			--bs-nav-link-font-size: .875rem
			--bs-nav-link-padding-y: .75rem
			--bs-nav-link-font-weight: 600
			border-radius: var(--bs-navbar-nav-link-radius)

			&:is(:hover, :focus, .active)
				background-color: var(--bs-navbar-nav-link-background-hover)

	&-toggler
		min-width: var(--bs-navbar-toggler-box)
		min-height: var(--bs-navbar-toggler-box)
		position: relative
		border-width: var(--bs-navbar-toggler-border-width)

		&:focus
			box-shadow: none

		&:focus-visible
			text-decoration: none
			outline: 0
			box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width)

		&[aria-expanded='true']

			.hamburger

				&>*
					transition: y var(--bs-transition-duration) ease-in, transform var(--bs-transition-duration) ease-in var(--bs-transition-duration), opacity 0ms var(--bs-transition-duration)

				:is(.top, .bottom)
					y: 45%

				.top
					transform: rotate(45deg)

				.middle
					opacity: 0

				.bottom
					transform: rotate(-45deg)

	&-collapse
		transition: height var(--bs-transition-duration) ease-in-out, margin var(--bs-transition-duration) ease-in-out

		&.collapsing
			height: 0 !important
			padding: 0
			margin: 0
			transition: height var(--bs-transition-duration) ease-in-out, margin var(--bs-transition-duration) ease-in-out

		&.show
			overflow-y: auto

	&-account
		--bs-nav-item-gap: .875rem
		margin-left: auto

		.nav-user
			display: flex
			align-items: center
			justify-content: center
			border-radius: .5rem

			.img-thumbnail
				border: 0
				border-radius: inherit
				padding: 0

		.nav-sign-out

			.ki-duotone
				font-size: 1.5rem

/** (End) Navbar **/

/** (Start) Menu **/

.menu

	&-item
		padding: 0

		&:not(:last-child)
			margin-right: 2.5rem

		.menu-link
			padding: .5rem 0

/** (End) Menu **/

/** (Start) Hamburger **/

.hamburger
	--bs-hamburger-box: 1rem
	min-width: var(--bs-hamburger-box, 1rem)
	min-height: var(--bs-hamburger-box, 1rem)
	fill: var(--bs-navbar-toggler-color)

	&>*
		width: 80%
		height: 8px
		x: 10%
		rx: .3rem
		transition: y var(--bs-transition-duration) ease-in var(--bs-transition-duration), transform var(--bs-transition-duration) ease-in, opacity 0ms var(--bs-transition-duration)
		transform-origin: center

	.top
		y: 25%

	.middle
		y: 45%

	.bottom
		y: 65%

/** (End) Hamburger **/

/** (Start) Breadcrumb **/

.breadcrumb
	--bs-breadcrumb-font-size: .875rem
	--bs-breadcrumb-color: var(--bs-gray-400)
	--bs-breadcrumb-color-active: var(--bs-primary)

	.breadcrumb-item
		font-size: var(--bs-breadcrumb-font-size)
		color: var(--bs-breadcrumb-color)
		padding-left: 0

		&::after
			padding-left: .25rem
			padding-right: .25rem

		&:is(:hover, :focus-visible, .active)

			a
				color: var(--bs-breadcrumb-color-active)

		a
			color: inherit

/** (End) Breadcrumb **/

/** (Start) Scroll **/

.snaps-inline
	scroll-snap-type: x mandatory

	.nav-item
		scroll-snap-align: end

/** (End) Scroll **/

/** (Start) Widget **/

.widget

	&-inner
		border: 1px solid var(--bs-gray-200)
		border-radius: var(--bs-border-radius-lg)
		padding: 1.875rem

	.wrapper-tabs
		margin-bottom: 2.5rem

	.nav-tabs
		--bs-nav-tabs-border-width: 0
		--bs-nav-link-font-size: 1rem
		--bs-nav-link-font-weight: 600
		--bs-nav-tabs-link-active-color: var(--bs-primary)
		--bs-nav-tabs-link-active-border-color: var(--bs-primary)
		--bs-nav-link-color: var(--bs-gray-400)
		--bs-nav-link-padding-y: 1.25rem
		--bs-nav-link-padding-x: 0
		padding-bottom: .25rem

		.nav-item:not(:last-child)
			margin-right: 2.5rem

		.nav-link
			border: 0
			border-bottom: 1px solid transparent
			padding: 0 var(--bs-nav-link-padding-x) var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x)
			transition: color var(--bs-transition-duration) ease-in-out, border var(--bs-transition-duration) ease-in-out

			&:focus-visible
				box-shadow: none

			&.active
				border-bottom-color: var(--bs-nav-tabs-link-active-border-color)

/** (End) Widget **/

/** (Start) Custom Input Maxlength **/

[data-custom-input-maxlength]
	display: flex
	flex-direction: column

[data-custom-display-maxlength]
	font-size: .625rem
	font-weight: 600
	line-height: 1.2
	color: var(--bs-gray-600)
	padding-top: .5rem

/** (End) Custom Input Maxlength **/
