.main-sign
	display: flex
	align-items: stretch

.wrapper-sign
	width: 100%
	margin-top: 70px
	position: relative

	&>*
		height: 100%

	&.with-back-button
		margin-top: 140px
		
		.btn-icon
			position: absolute
			top: -70px

	.sign
		max-width: 400px
		height: 100%
		display: flex
		flex-direction: column

		&-image

			img
				min-height: 140px

		&-user
			display: block
			font-weight: 600
			color: var(--bs-heading-color)

		&-buttons
			display: flex
			align-items: center
			justify-content: space-between

		&-switch
			display: flex
			flex-wrap: wrap
			align-items: center
			justify-content: center
			margin-right: auto

	&-code
		
		.sign
			max-width: 475px

	.btn[type='submit']
		width: fit-content


.email-code
	display: grid
	grid-template-columns: repeat(6, 1fr)
	column-gap: 1.25rem

	h2
		grid-row: 1
		grid-column: -1/1

	input
		grid-row: 2
		min-height: 60px
		flex-basis: 60px
		font-size: 1.75rem
		text-align: center
		padding: .25rem