// Bootstrap compatible gutter variable => $gutter
// $grid-gutter-width: 30px
// $gutter: $grid-gutter-width

// IMPORT SECTION

// @import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
// @import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/_utilities.scss' // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: url($furl) format('woff2')

@include font('Inter', normal, 500, '../fonts/Inter-Medium.woff2')
@include font('Inter', normal, 600, '../fonts/Inter-SemiBold.woff2')
@include font('Inter', normal, 700, '../fonts/Inter-Bold.woff2')

// GENERAL CSS SETTINGS
:root,
[data-bs-theme=light]
	/*Header*/
	--header-height: 4.75rem

	/*Colors*/

	/*Font*/
	--bs-font-sans-serif: Inter, sans-serif
	--font-system: -apple-system, BlinkMacSystemFont, Arial, sans-serif
	--bs-body-font-size: .875rem

::placeholder
	color: #666

::selection
	background-color: var(--bs-primary)
	color: #fff

html, body
	overflow-x: hidden